body {
    padding-top: 60px;
    background-color: #9d9d9d;
    color: #ffffff;
}
.input, .results {
    margin-top: 5rem;
    background-color: #222222;
}
form {
    margin-top: 15px;
}
.input button {
    margin-bottom: 15px;
}
.results {
    padding: 15px 30px;
}
ul {
    list-style: none;
}
.main-results {
    display: none;
}